# Melt()

# Nos permite transformar un DataFrame con muchas columnas en otro con menos, donde una o más son variables de identificación y otras se fusionan.

# Sintaxis:

pd.melt(df, id_vars = None, value_vars = None, var_name = None, value_name = None)

· df: DataFrame que vamos a usar.

· id_vars: Columnas que serán las variables identificadoras. Estas no van a cambiar al generar el nuevo DataFrame.

· value_vars: Columnas que se van a fundir o fusionarse.

· var_name: Nombre de la nueva o nuevas columnas generadas por la unión de value_vars.

· value_name: Nombre de la nueva o nuevas columnas con los valores de los registros de value_vars.

# Fusionar las columnas, ’numero_puertas’, ‘camara_trasera’ y sensor_aparcamiento’, usaremos como índice el modelo del coche.

In [3]:
# Importamos las librerias y el archivo csv:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)  # Para que aparezcan todas las columnas

In [4]:
# Importar archivos:

path1 = 'C:/Users/Agus_Ana_María_Raúl/Agustin/DAM/MASTER/MÓDULO_7_PYTHON_FOR_DATA/2_PANDA/datos_ford_2024.csv'
coches_2024 = pd.read_csv(path1, index_col = 0)

path2 = 'C:/Users/Agus_Ana_María_Raúl/Agustin/DAM/MASTER/MÓDULO_7_PYTHON_FOR_DATA/2_PANDA/datos_ford_caracteristicas.csv'
coches_caracteristicas = pd.read_csv(path2, index_col = 0)

In [12]:
# Realizamos un merge() para combinar los dos dataframe (columna VIN común a los dos):
coches_merge = coches_2024.merge(coches_caracteristicas, how = 'inner', on = 'VIN')
coches_merge.head()

,VIN,modelo_coche,id_del_vendedor,fecha_venta,numero_puertas,camara_trasera,sensor_aparcamiento
0,1FABPBLT3JL100001,Ford Fiesta,101,2024-01-15,5,True,True
1,2FADP4EJ9CL100002,Ford Focus,102,2024-02-02,3,False,False
2,3FABP4EJ8CR100003,Ford Mustang,103,2024-01-20,5,True,True
3,4FADS2LJ2CL100004,Ford Explorer,101,2024-02-10,5,False,True
4,5FAHP3K22CL100005,Ford Escape,102,2024-01-05,3,False,False

In [ ]:
# Convertimos el merge en 5 filas para que no sea tan largo
coches_merge = coches_merge.head(5)
coches_merge

,VIN,modelo_coche,id_del_vendedor,fecha_venta,numero_puertas,camara_trasera,sensor_aparcamiento
0,1FABPBLT3JL100001,Ford Fiesta,101,2024-01-15,5,True,True
1,2FADP4EJ9CL100002,Ford Focus,102,2024-02-02,3,False,False
2,3FABP4EJ8CR100003,Ford Mustang,103,2024-01-20,5,True,True
3,4FADS2LJ2CL100004,Ford Explorer,101,2024-02-10,5,False,True
4,5FAHP3K22CL100005,Ford Escape,102,2024-01-05,3,False,False

In [ ]:
# pd.melt(df, id_vars = None, value_vars = None, var_name = None, value_name = None)

coches_melt = pd.melt(coches_merge, id_vars = 'modelo_coche', value_vars = ['numero_puertas', 'camara_trasera', 'sensor_aparcamiento'], var_name = 'Características', value_name = 'Valor')
coches_melt

# Los 1 y 0 de la columna valor que corresponden a camara_trasera y sensor_aparcamiento son los True y False de esas columnas en coches_merge

     modelo_coche      Características Valor
0     Ford Fiesta       numero_puertas     5
1      Ford Focus       numero_puertas     3
2    Ford Mustang       numero_puertas     5
3   Ford Explorer       numero_puertas     5
4     Ford Escape       numero_puertas     3
5     Ford Fiesta       camara_trasera     1
6      Ford Focus       camara_trasera     0
7    Ford Mustang       camara_trasera     1
8   Ford Explorer       camara_trasera     0
9     Ford Escape       camara_trasera     0
10    Ford Fiesta  sensor_aparcamiento     1
11     Ford Focus  sensor_aparcamiento     0
12   Ford Mustang  sensor_aparcamiento     1
13  Ford Explorer  sensor_aparcamiento     1
14    Ford Escape  sensor_aparcamiento     0