# Conceptos fundamentales y creación.

# Los DataFrames son estructuras de datos bidimendionales, filas y columnas.

# Flexibilidad: los DataFrames pueden contener datos de diferentes tipos. Además, las columnas pueden tener nombres personalizados y los índices pueden ser etiquetados con valores personalizados.

# Facilidad de importación y exportación: Pueden leer y escribir datos en diversos formatos, como CSV, Excel, archivos de texto, bases de datos SQL, JSON, entre otros.

# Indexación flexible: Permiten acceder y manipular los datos utilizando diversas técnicas de indexación, como indexación por posición, indexación por etiqueta, indexación booleana y más.

# Sintaxis:
pd.DataFrame("data","index","columns")

# data: Estructura de datos que queremos convertir a Dataframe.

# index(opcional): Índice a aplicar a las filas. Si no se añade se autogenera uno numérico empezando en 0.

# columns(opcional): Nombre de las columnas. Al igual que con el caso anterior, si no se añade use autogenera uno numérico empezando en 0.

In [1]:
import pandas as pd
import numpy as np

# Dataframe a partir de un diccionario

In [ ]:
# Definimos un diccionario:
diccionario = {"carrera": ["bioquímica", "derecho", "bellas artes"],
               "nota de corte": [12.730, 7.442, 9.906], 
               "facultad": ["Ciencias Químicas", "Derecho", "Bellas Artes"],
               "plazas": [100, 300, 250]}

# Damos nombre al índice
df_diccionario = pd.DataFrame(diccionario, index = ["Ciencias", "Ciencias Sociales", "Artes y Humanidades"])
df_diccionario

                          carrera  nota de corte           facultad  plazas
Ciencias               bioquímica         12.730  Ciencias Químicas     100
Ciencias Sociales         derecho          7.442            Derecho     300
Artes y Humanidades  bellas artes          9.906       Bellas Artes     250

In [5]:
# No le damos nombre al índice:
df_diccionario = pd.DataFrame(diccionario)
df_diccionario

        carrera  nota de corte           facultad  plazas
0    bioquímica         12.730  Ciencias Químicas     100
1       derecho          7.442            Derecho     300
2  bellas artes          9.906       Bellas Artes     250

# Dataframe a partir de un array

In [14]:
# Generamos un array 2 filas 3 columnas con valores aleatorios del 1 al 89
array = np.random.randint(1, 90, (2, 3))

# Damos nombre a las columnas
df_array = pd.DataFrame(array, columns = [2012, 2013, 2014])
df_array

   2012  2013  2014
0    17    87     7
1    30    12    43

# Dataframe a partir de una lista

In [16]:
# Definimos una lista:
lista_notas = [6,7.5,8]

df_lista = pd.DataFrame(lista_notas)
df_lista

     0
0  6.0
1  7.5
2  8.0

# Dataframe a partir de una lista de listas

In [19]:
# Definimos las dos listas:
lista_examenes = ['control','parcial','final']
lista_notas = [6,7.5,8]

df_notas_examenes = pd.DataFrame([lista_examenes, lista_notas])
df_notas_examenes

         0        1      2
0  control  parcial  final
1        6      7.5      8

In [20]:
# Si queremos intercambiar filas por columnas hay que utilizar  -->  .T
df_notas_examenes.T

         0    1
0  control    6
1  parcial  7.5
2    final    8