# Loc e Iloc

# Métodos principales para seleccionar datos concretos de un DataFrame y poder manipularlos.

# Con el loc accedemos a los datos a través de las etiquetas o nombres de filas y columnas. Puede ser una única etiqueta o una lista de etiquetas.

# Sintaxis: df.loc[etiqueta_filas,etiqueta_columnas]

# Con el iloc accedemos a los datos a través de sus índices de filas y columnas. Puede ser una lista de índices.

# Sintaxis: df.iloc[índice_filas,índice_columnas]

# ¡¡¡IMPOTANTE!!! EL LOC INCLUYE EL ÚLTIMO VALOR DE UN RANGO DE SELECCIÓN, MIENTRAS QUE EL ILOC NO LO INCLUYE!!!

In [1]:
# Importamos las librerias y el archivo csv:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)  # Para que aparezcan todas las columnas

In [ ]:
path = 'C:/Users/Agus_Ana_María_Raúl/Agustin/DAM/MASTER/MÓDULO_7_PYTHON_FOR_DATA/2_PANDA/DatosPandasUniversidades.csv'
df_universidades = pd.read_csv(path, index_col = 2)  # Asignamos la tercera columna del csv como índice
df_universidades.head()

,sequence,rank,overall_score,academic_reputation,employer_reputation,faculty_student_ratio,citations_per_faculty,international_faculty_ratio,international_students_ratio,international_research_network,employment_outcomes,sustainability,Fundos (US$),country
university,,,,,,,,,,,,,,
Massachusetts Institute of Technology (MIT),0,1,100.0,100.0,100.0,100.0,100.0,100.0,88.2,94.3,100.0,95.2,9.2,United States
University of Cambridge,1,2,99.2,100.0,100.0,100.0,92.3,100.0,95.8,99.9,100.0,97.3,7.8,United Kingdom
University of Oxford,2,3,98.9,100.0,100.0,100.0,90.6,98.2,98.2,100.0,100.0,97.8,6.7,United Kingdom
Harvard University,3,4,98.3,100.0,100.0,98.3,100.0,84.6,66.8,100.0,100.0,96.7,6.3,United States
Stanford University,4,5,98.1,100.0,100.0,100.0,99.9,99.9,51.2,95.8,100.0,94.4,6.2,United States

# Acceder a un valor en concreto de una fila con su columna:

In [3]:
# Usando el loc, accediendo por los nombres de las filas ("Harvard University") y las columnas ("faculty_student_ratio"):
print(f'La proporción de alumnos en la universidad de Harvard usando el LOC es:  {df_universidades.loc["Harvard University", "faculty_student_ratio"]}')

# Salida: La proporción de alumnos en la universidad de Harvard usando el LOC es:  98.3

# Usando el iloc, accediendo por los índices, que empiezan en 0 como siempre en Python:
print(f'La proporción de alumnos en la universidad de Harvard usando el ILOC es:  {df_universidades.iloc[3,5]}')

# Salida: La proporción de alumnos en la universidad de Harvard usando el ILOC es:  98.3

La proporción de alumnos en la universidad de Harvard usando el LOC es:  98.3
La proporción de alumnos en la universidad de Harvard usando el ILOC es:  98.3

# Obtener la información de una fila con todas sus columnas:

In [ ]:
# Fila: "Harvard University"

# Usando el loc
print(f'Los datos en la universidad de Harvard usando el LOC es: {df_universidades.loc["Harvard University",:]}')  # Aquí estamos indicando que nos busque los datos de una fila en específico y de TODAS LAS COLUMNAS, esto viene representado por los ':'

# Usando el iloc
print(f'Los datos en la universidad de Harvard usando el ILOC es: {df_universidades.iloc[3,:]}')

# Obtener de una columna toda su información (todas las filas)

In [ ]:
# Columna: "country"

# Usando el loc
print(f'Los datos de los países usando el LOC son: {df_universidades.loc[:,"country"]}')  # En este caso, queremos que nos busque los datos de una columna en específico y de TODAS LAS FILAS, esto viene representado por los ':'

# Usando el iloc
print(f'Los datos de los países usando el ILOC son: {df_universidades.iloc[:,-1]}')  # -1 última columna "country"

# Obtener de una columna la información de dos filas

In [ ]:
# Filas: ["Stanford University","The University of Sheffield"]  o  [4,-2]  ->  Lista
# Columna: "country"

# Usando el loc
print(f'Los datos de los países usando el LOC son: {df_universidades.loc[["Stanford University","The University of Sheffield"],"country"]}')

# usando el iloc
print(f'Los datos de los países usando el ILOC son: {df_universidades.iloc[[4,-2],-1]}')  # -2 corresponde a la penúltima fila "The University of Sheffield"

# Obtener la información de una columnas pero solo de las filas pares.

In [ ]:
# Columna: "overall_score"  -->  posición 2

# usando el iloc, porque solo se pueden utilizar índices
print(f'Las puntuaciones de los datos de filas pares usando el ILOC son: {df_universidades.iloc[1::2,2]}')  # [start : stop : step]

# La 2ª fila corresponde a la posición 1 de ahí hasta el final :
# :2 Saltos de 2 en 2